body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #333;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 1180px;
    align-items: center;
    box-sizing: border-box;
}

section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
    max-height: 140px;
    padding: 20px;
    background-color: rgb(196, 127, 0);
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.canteiro {
    display: grid;
    width: 780px;
    height: 780px;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    background-color: green;
    box-sizing: border-box;
    padding: 10px;
}

.menu {
    width: 340px;
    height: 100%;
}

.espaco {
    width: 55px;
    height: 55px;
    background-color: rgb(145, 96, 33);
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.pedras {
    background-color: red;
}

.ervas-daninhas {
    background-color: aqua;
}