.batata1 {
    background-image: url('../../assets/plantacoes/batata/batata_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.batata2 {
    background-image: url('../../assets/plantacoes/batata/batata_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.batata3 {
    background-image: url('../../assets/plantacoes/batata/batata_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cenoura1 {
    background-image: url('../../assets/plantacoes/cenoura/cenoura_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cenoura2 {
    background-image: url('../../assets/plantacoes/cenoura/cenoura_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cenoura3 {
    background-image: url('../../assets/plantacoes/cenoura/cenoura_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}   

.rabanete1 {
    background-image: url('../../assets/plantacoes/rabanete/rabanete_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rabanete2 {
    background-image: url('../../assets/plantacoes/rabanete/rabanete_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rabanete3 {
    background-image: url('../../assets/plantacoes/rabanete/rabanete_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}   