.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.arbutus-regular {
  font-family: "Arbutus", serif;
  font-weight: 400;
  font-style: normal;
}

.sancreek-regular {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}

.maiden-orange-regular {
  font-family: "Maiden Orange", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 40px;
}